:root {
  --primary-color: #3399FF;
  --background-color: #111;
  --text-color: #fff;
  --section-bg-color: #1a1a1a;
  --feature-bg-color: #222;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Outfit:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

nav ul.visible {
  opacity: 1;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
  padding: 5px 10px;
}

nav ul li a:hover {
  color: var(--primary-color);
}

.logo {
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logo.visible {
  opacity: 1;
}

.logo img {
  height: 40px;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  max-width: 1000px;
  padding: 0 20px;
}

.hero h1 {
  font-size: 32px;
  /* margin-bottom: 20px; */
}

.hero p {
  font-size: 20px;
  margin-bottom: 40px;
}

.hero h2 {
  font-size: 24px;
  color: var(--text-color);
  text-transform: none;
  letter-spacing: normal;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2a73bb;
}

section {
  padding: 60px 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

section:first-child,
section.animate {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.feature {
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--feature-bg-color);
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #ffffff;
}

.feature .subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  font-style: italic;
  color: #a0a0a0;
  line-height: 1.4;
  font-weight: 300;
}

.feature p {
  font-size: 16px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-icons {
  width: 4em;
  height: 4em;
  margin-bottom: 15px;
  display: block;
  margin: 0 auto 15px;
}

footer {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

#cta {
  background-color: #1f1f1f;
  padding: 60px 0;
  text-align: center;
  position: relative;
}

.cta-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cta h2 {
  font-size: 24px;
  color: var(--text-color);
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 20px;
}

#cta .btn {
  font-size: 16px;
  padding: 12px 30px;
}

.cta-btn-bottom {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.cta-btn-bottom:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

#typed {
  color: var(--primary-color);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

.section-text {
  background-color: var(--section-bg-color);
  padding: 60px 30px;
  margin-bottom: 60px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-text p,
#our-mission p,
#our-approach p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}
.section-text .center-highlight-text,
.our-mission .center-highlight-text,
.our-approach .center-highlight-text {
  color: var(--primary-color);
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.highlight-text {
  color: var(--primary-color);
  font-weight: 600;
}

.underlined {
  text-decoration: underline;
}
.diagram-container {
  text-align: center;
  margin: 2em 0;
}
.plain-english {
  background-color: #2a2a2a;
  border-left: 4px solid var(--primary-color);
  padding: 20px;
  margin-top: 30px;
  font-style: italic;
  font-size: 18px;
  color: #e0e0e0;
}

.approach-diagram {
  max-width: 100%;
  margin: 40px auto;
  text-align: center;
}

.approach-diagram img {
  max-width: 100%;
  height: auto;
}

#our-approach ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

#our-approach li {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.features-grid a:hover .feature {
  background-color: #515155;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2e70b2;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    position: static;
    background-color: transparent;
    padding: 0;
  }

  nav ul li {
    margin: 0 5px;
  }

  nav ul li a {
    font-size: 14px;
    padding: 5px;
  }

  .feature {
    width: 100%;
    max-width: 300px;
    height: auto;
    min-height: 300px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .hero p {
    font-size: 16px;
  }

  .section-text,
  #our-mission,
  #our-approach {
    padding: 40px 20px;
  }

  .section-text p,
  #our-mission p,
  #our-approach p,
  .plain-english {
    font-size: 16px;
  }

  .approach-diagram img {
    width: 100%;
  }

  .hero-subtitle {
    font-size: 20px;
    line-height: 1.4;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Media query for wider screens */
@media (min-width: 769px) {
  nav ul {
    justify-content: center;
  }
}

.cta-btn {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.cta-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.cta-btn-bottom {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.cta-btn-bottom:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.hero-subtitle {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

